.button:hover
{
  -fx-background-color: #9ec7c0;

}
.button:pressed
{
  -fx-background-color: brown;
}
.button{
 -fx-background-color: #0e605a;
 -fx-background-radius : 50;
 -fx-background-radius: 50px 0px 0px 50px;

 }

